<footer class="footer">
  <div class="wrapper">
    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('powered_by') %> Hexo & Ashes
  </div>
</footer>